# ==============================
# Core / Allgemein
# ==============================

numpy
pandas
scikit-learn

# ==============================
# Deep Learning Framework
# ==============================

torch
torchvision
timm

# ==============================
# Image Processing & Augmentation
# ==============================

Pillow
opencv-python
albumentations

# ==============================
# Training & Evaluation
# ==============================

tqdm
matplotlib
seaborn

# ==============================
# Utilities
# ==============================

pyyaml