# ==============================
# Core / Allgemein
# ==============================

numpy==2.2.6
pandas==2.3.3
scikit-learn==1.7.1

# ==============================
# Deep Learning Framework
# ==============================

torch==2.9.1
torchvision
timm

# ==============================
# Image Processing & Augmentation
# ==============================

Pillow
opencv-python
albumentations

# ==============================
# Training & Evaluation
# ==============================

tqdm
matplotlib
seaborn

# ==============================
# Utilities
# ==============================

pyyaml